<% content_for :top_bar_left do %>
  <li>
    <%= link_to "New request", new_help_request_path %>
  </li>
<% end %>

<h1>Outstanding help requests (<span id="help-request-count"><%= @help_requests.count %></span>)</h1>

<div class="row">
  <div class="large-3 large-push-9 columns">
    <%= link_to 'New Help request', new_help_request_path, class: "button radius", remote: true %>
    <div id="new-help-request-modal" class="reveal-modal" data-reveal></div>
  </div>

  <div class="large-9 large-pull-3 columns" id="help-requests">
    <%= render :partial => "help_requests", :locals => {:help_requests => @help_requests} %>
  </div>
</div>

