$("#new-help-request-modal").
    html('<%= j render "form" %>').
    append('<a class=\"close-reveal-modal\">&#215;</a>').
    foundation("reveal", "open");

$("#new_help_request").
      attr("data-remote", "true");

var $helpRequestRepo = $("#help_request_repo");
if ($helpRequestRepo.length > 0) {
    selectRepositories(currentUserInfo().github, $helpRequestRepo);
}