// fade out the completed request
var helpRequestCount = <%= @help_requests.count %>;
$('#<%= dom_id @help_request %>').fadeOut();
$('#help-request-count').html(helpRequestCount);

if (helpRequestCount === 0) {
  $("#help-requests-table").replaceWith("<p>There are no current help requests. Good job!</p>");
}